@use '@/styles/variables' as var;

%input-style {
  color: var.$color-black;
  background-color: white;
  border-radius: 0.5rem;
  border-color: var.$color-gray;
  border-width: 1px;
  border-style: solid;
}

.search-wrapper {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;

  input {
    flex: 1;
    @extend %input-style;
    padding: 0.75rem 1rem;
  }

  select {
    @extend %input-style;
  }
}
